.welcome-crawl {
  font-family: 'Pathway Gothic One', sans-serif;
  background-size: cover;
  color: #fedb4d;
  display: flex;
  font-size: 72px;
  font-weight: bold;
  height: 80vh;
  justify-content: center;
  letter-spacing: 8px;
  line-height: 140%;
  min-height: 400px;
  overflow: hidden;
  perspective: 400px;
  position: relative;
  text-align: justify;
  width: 100%;
}

.crawl-wrap {
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 70s linear infinite;
}

.title-wrap {
  text-align: center;
}

.title-wrap h2 {
  font-size: 100px;
  font-weight: 800;
  margin: 40px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 600px;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -5000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}


@keyframes move-animate-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, 
.stars-animate {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.stars {
  background:#000 url(./assets/stars.png) repeat top center;
  z-index:-1;
}

.stars-animate{
  background:transparent url(./assets/animate.png) repeat top center;
  z-index:0;

  animation:move-animate-back 300s linear infinite;
}
