.welcome-crawl {
  /*font-family: 'Pathway Gothic One', sans-serif;*/
  background: #000;
  color: #feda4a;
  display: flex;
  font-size: 66px;
  font-weight: 600;
  height: 80vh;
  justify-content: center;
  letter-spacing: 6px;
  line-height: 140%;
  overflow: hidden;
  perspective: 400px;
  position: relative;
  text-align: justify;
  width: 100%;
}

.crawl-wrap {
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 70s linear;
}

.title-wrap {
  text-align: center;
}

.title-wrap h2 {
  font-size: 70px;
  font-weight: 800;
  margin: 30px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 500px;
    transform: rotateX(20deg) translateZ(0);
  }

  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
    display: none;
  }
}