.card {
  background-color: #1A1A1A;
  box-sizing: border-box;
  color: #d2d2d2;
  max-height: 410px;
  min-height: 320px;
  margin: 20px;
  position: relative;
  text-align: center;
  width: 290px;
}

.card header {
  background-color: #1A529D;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.card h3 {
  display: inline-block;
  font-size: 28px;
  letter-spacing: 4px;
  color: #feda4a;
  font-weight: 800;
  margin: 0 50px;
}

.card ul {
  margin: 30px 20px;
}

.card li {
  margin: 15px 20px;
  font-size: 18px;
}

.card button {
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  color: #d2d2d2;
  font-size: 22px;
  font-weight: bold;
  height: 40px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 24px;
  width: 40px;
}

button:hover {
  cursor: pointer;
}

.card .favorite {
  color: #feda4a;
  border: 2px solid #feda4a;
}

