.site-header {
  padding: 10px 0 0;
  text-align: center;
}

.banner-text {
  margin-top: 20px;
  width: 600px;
}

@media screen and (max-width: 670px) {
  .banner-text {
    width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .banner-text {
    width: 300px;
  }
}