.nav-menu {
  text-align: center;
  margin: 20px 0 10px;
}

.nav-menu div {
  display: inline-block;
  background: transparent;
}

.nav-menu a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  height:100%;
  padding: 6px;
  width: 100px;
}

.active {
  background: #feda4a;
  color: black;
}

@media screen and (max-width: 450px) {
  

  .nav-menu div {
    display: block;
  }

  .nav-menu a {
    padding: 10px 0;
    width: 100%;
  }
}
