.nav-menu {
  text-align: center;
  margin: 10px;
}

.nav-menu div {
  display: inline-block;
  background: #0C1C23;
}

.nav-menu a {
  display: block;
  padding: 6px;
  width: 100px;
  height:100%;
}

.active {
  background: #feda4a;
}
